/*********************************************************************
 *                                                                   *
 * MODULE NAME :  cnrmenu.rc             		             *
 * 			                                             *
 *                                                                   *
 * DESCRIPTION:                                                      *
 *                                                                   *
 *  Resource file for CNRMENU.EXE.                                   *
 *                                                                   *
 * HISTORY:                                                          *
 *                                                                   *
 *  10-24-92 - Source copied from CNRBASE.EXE sample.                *
 *             Changed the id of the menu from ID_RESOURCES to       *
 *               ID_CONTEXT_MENU.                                    *
 *             Changed the format of the menu to                     *
 *               make it look more like a context menu.              *
 *             Added CreateNewWindow item.                           *
 *             Added Sort, Other Window submenus.                    *
 *             Added Arrange item.                                   *
 *                                                                   *
 *                                                                   *
 *********************************************************************/

#include <os2.h>
#include "cnrmenu.h"

ICON ID_RESOURCES cnrmenu.ico

MENU ID_CONTEXT_MENU
{
    SUBMENU  "~View    ",               IDM_VIEW_SUBMENU
    {
        MENUITEM "~Tree/icon",          IDM_VIEW_TREE
        MENUITEM "~Name/flowed",        IDM_VIEW_NAME
        MENUITEM "~Icon",               IDM_VIEW_ICON
        MENUITEM "~Details",            IDM_VIEW_DETAILS
        MENUITEM "T~ext/flowed",        IDM_VIEW_TEXT
    }

    SUBMENU  "~Sort",                   IDM_SORT_SUBMENU
    {
        MENUITEM "by ~Name",            IDM_SORT_NAME
        MENUITEM "by ~Date/Time",       IDM_SORT_DATETIME
        MENUITEM "by D~irectory Order", IDM_SORT_DIRORDER
    }

    SUBMENU  "~Other Window",           IDM_OTHERWIN_SUBMENU
    {
    }

    MENUITEM "~Create New Window",      IDM_CREATE_NEWWIN
    MENUITEM "~Arrange",                IDM_ARRANGE
}

/*********************************************************************
 *                  E N D     O F     S O U R C E                    *
 *********************************************************************/
